body {
	--bg-color: var(--tg-theme-bg-color, #fff);
	background-color: var(--bg-color);
	color: var(--tg-theme-text-color, #222);
	margin: 0;
	padding: 0;
	color-scheme: var(--tg-color-scheme);
    overflow: hidden;
    font-family: "Minecraft Rus", serif;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid var(--tg-theme-hint-color, #cccccc);
}
th {
  background-color: var(--tg-theme-secondary-bg-color, #f0f0f0);
}

img {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.collectobject {
    position: fixed;
    font-family: "Minecraft Rus", serif;
    color: #fff;
    text-align: center;
    top: 18%;
    pointer-events: none;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

.container, .entermenu {
    position: absolute;
    width: 400px;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -112px;
}

.sound {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 179px;
  right: 175px;
}

.background {
    width: 400px;
}

.container .text {
    position: absolute;
    width: 100%;
    color: #fff;
    font-size: 16px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.ui-top {
    display: flex;
    justify-content: center;
}

.ui-bottom {
    display: flex;
    justify-content: space-around;
    align-items: end;
    height: 85vh;
}

.modal {
    position: fixed;
    overflow: hidden;
    left: 0;
    top: 0;
    font-family: "Minecraft Rus", serif;
    width: 400px;
    height: 100%;
    background-image: url("img/backgroundTask.png");
}


.closeModal {
    position: absolute;
    color: #fff;
    font-family: "Minecraft Rus", serif;
    top: 10px;
    right: 10px;
    font-size: 18px;
    width: 23px;
    height: 23px;
    text-align: center;
    line-height: 1.45;
    border-radius: 8px;
    background: #000;
    cursor: pointer;
}

.go3974562317, .go817518207{
    background-color: transparent !important;
    min-width: 115px;
}
.go3974562317 path{
    fill:#90625d;
}

.go1487791704, .go1140934594{
    color: #48312e !important;
}

.go157313249{
    min-width: auto !important;
}

.active-quest{
    background: #dddddd !important; 
}

.ui-counter {
    height: 75px;
    margin: 5px;
    align-items: center;
    background-image: url("img/item.png");
    display: flex;
    width: 120px;
}

.modal-btn {
    padding: 5px; 
    background: rgba(21, 108, 239, 0.95); 
    font-family: Minecraft Rus; 
    color: #312e2f; 
    margin-right: 15px; 
    padding: 10px 10px 10px 10px; 
    border-radius: 10px; 
    cursor: pointer; 
    text-align: center;
}

.ui-ton {
    position: absolute;
    top: 48px;
    right: 48px;
    align-items: center;
}

.ui-counter img {
    margin-top: 5px;
    margin-left: 15px;
    margin-right: 5px;
}

.clickchikentext {
    width: 50px;
    height: 70px;
    font-size: 24px;
    font-family: "Minecraft Rus", serif;
    color: #fff;
    position: absolute;
    animation: .6s 0s 1 text normal both running linear;
}

@keyframes text {
    0% {
      transform: translateY(90px);
      opacity: .9;
    }
    100% {
        transform: translateY(0px);
        opacity: 0;
      }
}

.click {
    position:relative;
    width: 400px;
    top: 270px;
    left: 0;
    z-index:99999999999;
}

.click img {
    margin-left: auto; 
    margin-right: auto; 
    width: 150px;
    height: 150px;
}

.ui-counters {
    height: 75px;
    margin: 5px;
    align-items: center;
    background-image: url("img/item.png");
    display: flex;
    width: 120px;
}

.ui-counters img {
    margin-top: 5px;
    margin-left: -5px;
    margin-right: 10px;
}

.value-text {
    line-height: 1.1;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.g-text {
    font-size: 14px;
    margin-top: 10px;
    font-family: "Minecraft Rus", serif;
    color: #222;
}

.v-text {
    font-size: 14px;
    font-family: "Minecraft Rus", serif;
    color: #568f20;
}

.btnenter {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    background-image: url("img/item.png");
    background-repeat: no-repeat;
    height: 15%;
    color: #312e2f;
    width: 150px;
    font-family: "Minecraft Rus", serif;
    font-size: 18px;
    background-position: center;
    text-align: center;
    cursor: pointer;
    line-height: 6.2;
}

.circle {
    position: absolute;
    bottom: 5%;
    left: 50%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 7px solid rgba(255, 255, 255, .1);
    border-top: 7px solid #fff;
    animation: animate 1s infinite linear;
}

@keyframes animate {
    0% {
        transform: translate(-50%, -0.5%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -0.5%) rotate(360deg);
    }
}

@font-face {
    font-family: "Minecraft Rus";
    src: local("Minecraft Rus"), local("Minecraft Rus"),
      url("./fonts/Minecraft Rus.ttf");
    font-weight: bold;
  }
  
  .modalwheel {
    position: fixed;
    overflow: hidden;
    left: 0;
    top: 0;
    font-family: "Minecraft Rus", serif;
    width: 400px;
    height: 100%;
    background-image: url("img/backgroundwheelspin.png");
}

.egg {
    position: absolute;
    background-repeat: no-repeat;
    top: 250px;
    left: -8;
}

.egg-text {
    display: inline;
    font-size: 26px;
    padding: 15px;
    font-family: "Minecraft Rus", serif;
    color: #fff;
}

  .app {
    position: absolute;
    width: 325px;
    height: 120px;
    top: 315px;
    left: 40px;
  }
  .app .scope {
    overflow: hidden;
  }
  .app .scope .list {
    position: relative;
    display: inline-flex;
    left: 10px;
    top: 5px;
    transform: translate3d(0, 0, 0);
    list-style: none;
    transition: 5s cubic-bezier(0.21, 0.53, 0.29, 0.99);
  }
  .app .scope .list__item {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    opacity: 0.8;
    transition: 0.3s ease;
  }
  .app .scope .list__item:nth-child(2n) {
    background: rgba(0, 0, 0, 0);
  }
  .app .scope .list__item.active {
    opacity: 1;
  }
  .app .scope .list__item.active img {
    transform: scale(1.05);
  }
  .app .scope .list__item img {
    width: 80%;
    height: 80%;
    -o-object-fit: contain;
       object-fit: contain;
    transition: 0.3s ease;
  }
  .app .start {
    position: absolute;
    top: 130px;
    left: 50%;
    background-image: url("img/item.png");
    width: 120px;
    height: 75px;
    font-family: "Minecraft Rus", serif;
    transform: translate3d(-50%, 20px, 0);
    border: none;
    color: #312e2f;
    outline: none;
    line-height: 5;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
  }

  .startfarming {
    position: absolute;
    top: 76%;
    left: 50%;
    transform: translate(-50%, 0);
    -ms-transform: translate(-50%, -100%);
    background: #0c0c0c;
    height: 7%;
    color: #fff;
    width: 380px;
    font-family: "Minecraft Rus", serif;
    font-size: 18px;
    background-position: center;
    text-align: center;
    cursor: pointer;
    line-height: 3;
  }
  .farming {
    position: absolute;
    top: 76%;
    left: 50%;
    transform: translate(-50%, 0);
    -ms-transform: translate(-50%, -100%);
    background: #0c0c0c;
    height: 7%;
    color: #fff;
    width: 380px;
    font-family: "Minecraft Rus", serif;
    font-size: 18px;
    background-position: center;
    text-align: center;
    cursor: pointer;
    line-height: 3;
    animation-name: blink;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  @keyframes blink {
    50% {
      opacity: 0;
    }
  }

  .buttontop {
    position: absolute;
    top: 70%;
    left: 95%;
    transform: translate(-95%, 0);
    background-repeat: no-repeat;
    height: 35px;
    width: 35px;
    background-position: center;
    cursor: pointer;
  }

  .buttontop img {
    width: 35px;
    height: 35px;
  }

  .buttonref {
    position: absolute;
    top: 70.5%;
    left: 83%;
    transform: translate(-83%, 0);
    background-repeat: no-repeat;
    height: 35px;
    width: 30px;
    background-position: center;
    cursor: pointer;
  }

  .buttonref img {
    width: 35px;
    height: 30px;
  }

  .player {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
  }
  .player-text {
    font-family: "Minecraft Rus", serif;
    padding: 5px;
    font-size: 24px;
    justify-content: center;
  }